<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 这个配置使全局的映射器启用或禁用缓存 -->
        <setting name="cacheEnabled" value="true" />
        <!-- 全局启用或禁用延迟加载。当禁用时，所有关联对象都会即时加载 -->
        <setting name="lazyLoadingEnabled" value="true" />
    </settings>
    <!-- 插件配置 -->
    <plugins>
        <!--
         | 分页插件配置
         | 插件提供二种方言选择：1、默认方言 2、自定义方言实现类，两者均未配置则抛出异常！
         | dialectType 数据库方言
         |             默认支持  mysql  oracle  hsql  sqlite  postgre
         | dialectClazz 方言实现类
         |              自定义需要实现 com.baomidou.mybatisplus.plugins.pagination.IDialect 接口
         | -->
        <plugin interceptor="com.baomidou.mybatisplus.plugins.PaginationInterceptor">
            <property name="dialectType" value="mysql" />
        </plugin>
    </plugins>
</configuration>